on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      # check if this commit doenst have a tag
      - name: Checking
        run: echo "Doing some CI tasks..."