name: Integration Pipeline
on:
  workflow_call:
    inputs:
      commit_sha:
        required: true
        type: string
        description: 'Docker image tag to deploy'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit_sha }}
      # check if this commit doenst have a tag
      - name: Checking
        run: echo "Doing some CI tasks... ${{ inputs.commit_sha }}"
