name: Deployment Pipeline

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      target_environment:
        type: choice
        description: 'Deploy to environment'
        options:
          - dev
          - qa
          - prod
      skip_dev:
        type: boolean
        description: 'Skip DEV deployment'
        default: false

jobs:
  define_version:  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Detect version
        id: version
        run: |
          COMMIT_SHA=$(git rev-parse HEAD)
          IMAGE_TAG="${COMMIT_SHA}"
          echo "commit_sha=$IMAGE_TAG" >> $GITHUB_OUTPUT
    outputs:
      commit_sha: ${{ steps.version.outputs.commit_sha }}

  ci:
    needs: [define_version]
    uses: ./.github/workflows/ci.yml
    with:
      commit_sha: ${{ needs.define_version.outputs.commit_sha }}
    
  deploy-dev:
    needs: [define_version,ci]
    if: github.event.inputs.skip_dev != 'true'
    uses: ./.github/workflows/cd.yml
    with:
      environment: dev
      commit_sha: ${{ needs.define_version.outputs.commit_sha }}
    secrets: inherit          

  deploy-qa:
    needs: [define_version,ci, deploy-dev]
    if: |
      always() && 
      (needs.deploy-dev.result == 'success' || github.event.inputs.skip_dev == 'true')
    uses: ./.github/workflows/cd.yml
    with:
      environment: qa
      commit_sha: ${{ needs.define_version.outputs.commit_sha }}
    secrets: inherit

  deploy-prod:
    needs: [release-tag]
    uses: ./.github/workflows/cd.yml
    with:
      environment: prod
      commit_sha: ${{ needs.release-tag.outputs.commit_sha }}
    secrets: inherit