name: Deployment Pipeline

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      target_environment:
        type: choice
        description: 'Deploy to environment'
        options:
          - dev
          - qa
          - prod
      skip_dev:
        type: boolean
        description: 'Skip DEV deployment'
        default: false

jobs:
  define_version:  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Detect version
        id: version
        run: |
          SHORT_SHA=$(git rev-parse HEAD)
          IMAGE_TAG="${SHORT_SHA}"
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
    outputs:
      image_tag: ${{ steps.version.outputs.image_tag }}

  ci:
    needs: [define_version]
    uses: ./.github/workflows/ci.yml
    with:
      image_tag: ${{ needs.define_version.outputs.image_tag }}
    
  deploy-dev:
    needs: [define_version,ci]
    if: github.event.inputs.skip_dev != 'true'
    uses: ./.github/workflows/cd.yml
    with:
      environment: dev
      image_tag: ${{ needs.define_version.outputs.image_tag }}
    secrets: inherit          

  deploy-qa:
    needs: [define_version,ci, deploy-dev]
    if: |
      always() && 
      (needs.deploy-dev.result == 'success' || github.event.inputs.skip_dev == 'true')
    uses: ./.github/workflows/cd.yml
    with:
      environment: qa
      image_tag: ${{ needs.define_version.outputs.image_tag }}
    secrets: inherit

  release-tag:
    needs: [define_version,ci, deploy-qa]
    if: |
      always() && 
      (needs.deploy-qa.result == 'success' || github.event.inputs.skip_dev == 'true')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Create Release Tag
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          IMAGE_TAG="${SHORT_SHA}"
          git tag "release-${IMAGE_TAG}"
      - name: Commit Updated Version
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "chore(release): release-${IMAGE_TAG}"
          tagging_message: "release-${IMAGE_TAG}"
